* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url('./Background.jpg.jpg');
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;

}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;

}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display:flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}


.action_btn:hover{
    scale:1.05;
    color:#fff;
}

.action_btn:active{
    scale: 0.95;
}

.dropedown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropedown_menu.open{
    height: 240px;

}

.dropedown_menu li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropedown_menu .action_btn{
    width: 100%;
    display:flex;
    justify-content: center;
}

@media(max-width:992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropedown_menu{
        display: block;
    }
}

@media(max-width: 576px){
  .dropedown_menu{
    left:2rem;
    width:unset;
    
  }
}
